/*
    This is how you add multiple lines of Comments 
*/

// In line Comments

//=====================
//     Imports
//=====================

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); //External Sources
@import "./header"; //From other SCSS files - Modular!
@import "./card"; //From other SCSS files - Modular!

//=====================
//     Functions
//=====================

@mixin flexBox($direc, $jcontent) {
  display: flex;
  flex-direction: $direc;
  justify-content: $jcontent;
  align-items: center;
}

//=====================
//     Variables
//=====================

$main-font: "Open Sans", sans-serif;
$light-bg: #a9d3fa;
$light-text: #192f5e;
$dark-bg: #e0eeff;
$dark-text: #ffc66d;

//You could also import the variables from a separate file.

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $dark-bg;
  color: $dark-text;
  font-family: $main-font;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
  @include flexBox(column, space-between);
}

section {
  @include flexBox(row, center);
  width: 100%;
  height: 50%;
  padding: 0.5rem;
}
